/*Fonts urls*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300&display=swap");

body {
  margin: 0;
  font-family: "Raleway", sans-serif;
}
.container {
  width: 1000px;
  margin: 0 auto;
}
header {
  padding: 20px;
  background: rgb(90, 90, 219) url("../img/todo-bg.avif") 437px -107px no-repeat;
}

header h1 {
  font-family: "Raleway", sans-serif;
  font-weight: normal;
  color: #fff;
  margin-left: 56px;
  text-transform: uppercase;
}
.todo-lists-wrap{
  height:350px;
  overflow-y: scroll;
}
.todo-add-wrap {
  padding: 20px;
  background: rgb(186, 177, 242);
}

.todo-add-wrap input {
  display: inline-block;
  margin: 0;
  border: none;
  border-radius: 0;
  width: 97%;
  padding: 10px;
  font-size: 16px;
  position: relative;
  right: -3px;
}

.todo-add-wrap .addBtn {
  padding: 10px;
  display: inline-block;
  width: 25%;
  background: #9c91dd;
  color: #fff;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
  text-transform: uppercase;
}

/* Remove margins and padding from the list */
ul {
  margin: 0;
  padding: 0;
}

/* Style the list items */
ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  list-style: none;

  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul li:nth-child(odd) {
  background: #f9f9f9;
}

/* Darker background-color on hover */
ul li:hover {
  background: rgb(202 196 240);
}

/* When clicked on, add a background color and strike out text */
ul li.checked {
  background: rgb(90, 90, 219);
  color: #fff;
  text-decoration: line-through;
  margin-bottom:1px;
}



ul li.checked span {
  color: #fff;
}

/* Add a "checked" mark when clicked on */
ul li.checked::before {
  content: "";
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
.todo-lists div {
  font-size:40px;
    text-align: center;
    min-height: 350px;
    padding: 150px 0 0 0;
    color: #5a5adc;
}

/* ul li.checked i.check {
  font-size: 23px;
  position: absolute;
  left: 13px;
  top: 11px;
} */

/* Style the close button */
.close {
  color: #f44336;
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 15px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

.todo-lists-filter{
  padding:20px;
  background:rgb(186, 177, 242);
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  height: 100%;
}
.todo-lists-filter div{
  width:34%;
}

.todo-lists-filter .todo-count{
  text-align: left;
}

.todo-lists-filter .todo-status{
  text-align: center;
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  height: 100%;
}

.todo-lists-filter .todo-status a{
  width:30%;
}

.todo-lists-filter .todo-status-clear{
  text-align: right;
}